@charset "utf-8";
/* CSS Document*/
p,h2,q,blockquote,li{
	color: hsl(154 84% 70%);
	font-family: 'Press Start 2P', "sans-serif","Arial";
	font-size:12px;
	line-height: 16px;

	
}
h1 {
	font-size: 45px;
	line-height:30px;
	color: hsl(154 84% 70%);
	font-family: 'Press Start 2P', "sans-serif","Arial";
	

}
h2 {
	font-size: 37px;
	line-height:30px;
	
}
body {
	
	background-color:hsl(154 50% 5%);
	text-shadow: 0 0 5px hsl(154, 84%, 70%);
	background: radial-gradient (hsl(154 5% 15%) 0%, hsl(154 50% 5%) 70%);
	margin: 20px;
	
		
	
}
.header {
	display:flex;
	align-items:center;
	gap:20px;
}
#glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;}
h1,h2{
	text-align:center;

}
.link-wrapper {
	text-align: center;
	
}
.vjezbe{
	font-size:25px;
	text-decoration:underline;
	padding:20px 25px;
	border: 2px;
	border-color: hsl(154 84% 70%);
	border-style:dashed;
	display:inline-block;
	margin:10px;
	color: hsl(154 84% 70%);
	
	
}
.linkovi-dig {
	size:16px;
	color: hsl(154 84% 70%);
	text-decoration: underline;
	
}
.portfolio {
	color: hsl(154 84% 70%);
	font-size: 24px;
	text-decoration:underline;
}
.ikona {
  bottom: 10px;
  right: 10px;   
  width: 50px; 
  height: auto;      
  z-index: 1000;
}
.icon {
  top: 10px; 
  right: 10px; 
  font-family: "monospace"; 
  white-space: pre; 
  z-index: 9999; 
  padding: 5px;
  border-radius: 5px;
  color: hsl(154 84% 70%);
}
.naslovi {
	margin: 0;
	min-width:150px;
	min-height: 150px;
	flex:1;
	display: block;
display: inline;
white-space: nowrap;
overflow: hidden;

}
